body {
}

.image-box {
	position: relative;
}

.image-box a {
	text-decoration: none;
}

.image-box .image-box-container{
	position: relative;
    overflow: hidden;
}

.image-box .image-box-logo{
    position: absolute;
    left:0;
    top: 0;
    display: inline-block;
}

.image-box .image-box-logo img {
    height: auto;
    width: auto;
}

.image-box .image-box-title {
	position: absolute;
    top: 20px;
    left: 80px;
}
.image-box .image-box-title{
	color: white;
}
.image-box .image-box-title h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

.image-box-padding {
	padding: 6px;
}


/* background hover zoom  */
.hover-zoom .hover-zoom-bg{
	height: 100%;
    width: 100%;

	transition: all .2s ease-out; 
	-moz-transition: all .2s ease-out;
	-webkit-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
}

.hover-zoom:hover .hover-zoom-bg{
    height: 102%;
    width: 102%;
}


/* text underline animation*/
.underline-animation .underline-animation-content{
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
}

.underline-animation .underline-animation-content .underline-animation-effects::after {
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: '';
	transition: transform 0.35s;
	-webkit-transition: -webkit-transform 0.35s;
	transform: translate3d(-100%,0,0);
	-webkit-transform: translate3d(-100%,0,0);
}

.underline-animation:hover .underline-animation-content .underline-animation-effects::after   {
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}



/* static image box */
.image-box-static {
	// border: 1px solid blue;
}
.image-box-static .image-box{
	overflow: hidden;
	display: inline-block; 
	padding:5px;
	width: 100%;
	
}

.image-box-static .image-box-logo {
	padding-left: 6px;
	padding-top: 6px;
}

.image-box-static .image-box-static-bg {
	width: 100%;
	height: 250px;
	transition: all .2s ease-out; 
	-moz-transition: all .2s ease-out;
	-webkit-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
}

.image-box-static .image-box-static-bg:hover {
	width: 102%;
	
}

/* static one & four*/
.image-box-static .image-box-static-one,
.image-box-static .image-box-static-four {
	height: 600px;
}
.image-box-static .image-box-static-one .image-box-static-bg,
.image-box-static .image-box-static-four .image-box-static-bg {
	height: 600px;
}
.image-box-static .image-box-static-one .image-box-static-bg:hover,
.image-box-static .image-box-static-four .image-box-static-bg:hover {
	height: 610px;
}

/* static two & five */
.image-box-static .image-box-static-two,
.image-box-static .image-box-static-five {
	height: 230px;
}
.image-box-static .image-box-static-two .image-box-static-bg,
.image-box-static .image-box-static-five .image-box-static-bg {
	height: 230px
}
.image-box-static .image-box-static-two .image-box-static-bg:hover,
.image-box-static .image-box-static-five .image-box-static-bg:hover {
	height: 240px;
}

/* static three */
.image-box-static .image-box-static-three {
	height: 230px;
}
.image-box-static .image-box-static-three .image-box-static-bg {
	height: 230px
}
.image-box-static .image-box-static-three .image-box-static-bg:hover {
	height: 240px;
}







@media screen  and (min-width: 768px) { 


	/* static one & four */
	.image-box-static .image-box-static-one,
	.image-box-static .image-box-static-four {
		width: 239px;
		height: 481px;
	}
	.image-box-static .image-box-static-one .image-box-container,
	.image-box-static .image-box-static-four .image-box-container {
		height: 469px;
	}

	.image-box-static .image-box-static-one .image-box-static-bg,
	.image-box-static .image-box-static-four .image-box-static-bg {
		width: 229px;
		height: 469px;
	}
	.image-box-static .image-box-static-one .image-box-static-bg:hover,
	.image-box-static .image-box-static-four .image-box-static-bg:hover {
		width: 239px;
		height: 481px;
	}

	/* static two & five */
	.image-box-static .image-box-static-two,
	.image-box-static .image-box-static-five {
		position: absolute;
		width: 480px;
		height: 241px;
	}
	.image-box-static .image-box-static-two .image-box-container,
	.image-box-static .image-box-static-five .image-box-container {
		height: 229px;
	}

	.image-box-static .image-box-static-two .image-box-static-bg,
	.image-box-static .image-box-static-five .image-box-static-bg {
		width: 470px;
		height: 229px;
	}
	.image-box-static .image-box-static-two .image-box-static-bg:hover,
	.image-box-static .image-box-static-five .image-box-static-bg:hover {
		width: 480px;
		height: 241px;
	}

	/* static three */
	.image-box-static .image-box-static-three {
		position: absolute;
		margin-top: 240px;
		width: 240px;
		height: 240px;
	}
	.image-box-static .image-box-static-three .image-box-container {
		height: 230px;
	}

	.image-box-static .image-box-static-three .image-box-static-bg {
		width: 230px;
		height: 230px;
	}
	.image-box-static .image-box-static-three .image-box-static-bg:hover {
		width: 240px;
		height: 240px;
	}

	/* static four */
	.image-box-static .image-box-static-four {
		position: absolute;
		margin-top: 240px;
		margin-left: 240px;
	}

	/* static five */
	.image-box-static .image-box-static-five {
		margin-top: 480px;
		margin-left: -240px;
	}


}


@media screen  and (min-width: 992px ) { 

	/* static one & four */
	.image-box-static .image-box-static-one,
	.image-box-static .image-box-static-four {
		width: 313.328px;
		height: 625px;
	}
	.image-box-static .image-box-static-one .image-box-container,
	.image-box-static .image-box-static-four .image-box-container {
		height: 613px;
	}

	.image-box-static .image-box-static-one .image-box-static-bg,
	.image-box-static .image-box-static-four .image-box-static-bg {
		width: 303px;
		height: 613px;
	}
	.image-box-static .image-box-static-one .image-box-static-bg:hover,
	.image-box-static .image-box-static-four .image-box-static-bg:hover {
		width: 313.328px;
		height: 625px;
	}

	/* static two & five */
	.image-box-static .image-box-static-two,
	.image-box-static .image-box-static-five {
		position: absolute;
		width: 626.656px;
		height: 313px;
	}
	.image-box-static .image-box-static-two .image-box-container,
	.image-box-static .image-box-static-five .image-box-container {
		height: 305.406px;
	}

	.image-box-static .image-box-static-two .image-box-static-bg,
	.image-box-static .image-box-static-five .image-box-static-bg {
		width: 623.672px;
		height: 305.406px;
	}
	.image-box-static .image-box-static-two .image-box-static-bg:hover,
	.image-box-static .image-box-static-five .image-box-static-bg:hover {
		width: 626.656px;
		height: 313px;
	}

	/* static three */
	.image-box-static .image-box-static-three {
		position: absolute;
		margin-top: 313px;
		width: 313px;
		height: 313px;
	}
	.image-box-static .image-box-static-three .image-box-container {
		height: 301px;
	}

	.image-box-static .image-box-static-three .image-box-static-bg {
		width: 303px;
		height: 303px;
	}
	.image-box-static .image-box-static-three .image-box-static-bg:hover {
		width: 313px;
		height: 313px;
	}

	/* static four */
	.image-box-static .image-box-static-four {
		position: absolute;
		margin-top: 313px;
		margin-left: 313px;
	}
	
	/* static five */
	.image-box-static .image-box-static-five {
		margin-top: 620px;
		margin-left: -313px;
	}
}



@media screen  and (min-width: 1200px) { 
	
	/* static one & four */
	.image-box-static .image-box-static-one,
	.image-box-static .image-box-static-four {
		width: 380px;
		height: 761px;
	}
	.image-box-static .image-box-static-one .image-box-container,
	.image-box-static .image-box-static-four .image-box-container {
		height: 749px;
	}

	.image-box-static .image-box-static-one .image-box-static-bg,
	.image-box-static .image-box-static-four .image-box-static-bg {
		width: 370px;
		height: 749px;
	}
	.image-box-static .image-box-static-one .image-box-static-bg:hover,
	.image-box-static .image-box-static-four .image-box-static-bg:hover {
		width: 380px;
		height: 761px;
	}

	/* static two & five */
	.image-box-static .image-box-static-two,
	.image-box-static .image-box-static-five {
		position: absolute;
		width: 760px;
		height: 380px;
	}
	.image-box-static .image-box-static-two .image-box-container,
	.image-box-static .image-box-static-five .image-box-container {
		height: 368px;
	}

	.image-box-static .image-box-static-two .image-box-static-bg,
	.image-box-static .image-box-static-five .image-box-static-bg {
		width: 750px;
		height: 368px;
	}
	.image-box-static .image-box-static-two .image-box-static-bg:hover,
	.image-box-static .image-box-static-five .image-box-static-bg:hover {
		width: 760px;
		height: 380px;
	}

	/* static three */
	.image-box-static .image-box-static-three {
		position: absolute;
		margin-top: 380px;
		width: 380px;
		height: 380px;
	}
	.image-box-static .image-box-static-three .image-box-container {
		height: 367px;
	}

	.image-box-static .image-box-static-three .image-box-static-bg {
		width: 370px;
		height: 367px;
	}
	.image-box-static .image-box-static-three .image-box-static-bg:hover {
		width: 380px;
		height: 380px;
	}

	/* static four */
	.image-box-static .image-box-static-four {
		position: absolute;
		margin-top: 380px;
		margin-left: 380px;
	}
	
	/* static five */
	.image-box-static .image-box-static-five {
		margin-top: 760px;
		margin-left: -380px;
	}
	
}